.btn {
    width: 100%;
    border: 3px solid black;
    background: none;
    aspect-ratio: 1 / 1;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
  }
  
  .btn.active {
    background-color: hsl(200, 67%, 75%);
    color: white;
  }
  
  .btn.inactive {
    opacity: .3;
  }
  
  .btn:hover:not(:disabled),
  .btn:focus:not(:disabled) {
    background-color: hsl(200, 100%, 75%);
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px,1fr));
    grid-gap: 0.5rem;
  }